from flask import request, redirect, render_template, session
import random
import hashlib

from db import create_user, get_user_by_email
from services.email_service import send_verification_email


def hash_password(password):
    return hashlib.sha256(password.encode()).hexdigest()


@app.route("/register", methods=["GET", "POST"])
def register():
    if request.method == "POST":

        email = request.form["email"]
        password = request.form["password"]

        # проверка есть ли user
        if get_user_by_email(email):
            return "User already exists"

        # hash password
        password_hash = hash_password(password)

        # verification code
        code = str(random.randint(100000, 999999))

        # create user in DB
        create_user(email, password_hash, code)

        # send email
        send_verification_email(email, code)

        return redirect("/verify")

    return render_template("register.html")